#no-mobile {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: rgb(253, 225, 0);
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  animation: ani .3s linear;
}
@keyframes ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  #no-mobile {
    display: none;
  }
}